@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background-image: url(/imgs/bagrauntimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 34px 48px 40px;
  min-height: 800px;
  width: 100%;
}
header label,
header input {
  display: none;
}
header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 47px;
}
header .nav ul li {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.13px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
header .nav ul button {
  border: none;
  outline: none;
  border-radius: 28px;
  width: 140px;
  height: 56px;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.11px;
  text-transform: uppercase;
  color: #24303e;
  cursor: pointer;
}
header .nav ul button:hover {
  background: #61e5f1;
  color: #ffffff;
}
header h1 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 56px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 105px;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 96px;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  grid-template-rows: repeat(3, 600px);
}
.products .product-info {
  margin: 0 auto;
  padding-top: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px 40px;
  max-width: 445px;
}
.products .product-info h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  letter-spacing: -0.01em;
  color: #24303e;
}
.products .product-info p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  letter-spacing: -0.01em;
  color: #808397;
}
.products .product-info button {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: start;
  color: #24303e;
  border: none;
  outline: none;
  background: transparent;
  position: relative;
  width: 160px;
}
.products .product-info button a {
  position: absolute;
  z-index: 11;
}
.products .product-info button:hover::after {
  cursor: pointer;
  opacity: 1;
}
.products .product-info button::after {
  position: absolute;
  content: "";
  opacity: 25%;
  border-radius: 20px;
  top: 14px;
  left: -9px;
  width: 137px;
  height: 10px;
  background: #fad400;
}
.products .img-page img {
  width: 100%;
  min-width: 350px;
  max-width: 720px;
  height: 100%;
}
.products .cherry {
  background-image: url(/imgs/cherry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products .cherry div {
  width: 100%;
  max-width: 339px;
  height: 143px;
}
.products .cherry div h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 28px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #24554a;
}
.products .cherry div p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 16px;
  line-height: 169%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #3e7467;
}
.products .mandarin {
  background-image: url(/imgs/mandarin.jpg);
  background-repeat: no-repeat;
  background-size: 720px;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products .mandarin div {
  width: 100%;
  max-width: 339px;
  height: 143px;
}
.products .mandarin div h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 28px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #052c3b;
}
.products .mandarin div p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 16px;
  line-height: 169%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #19536c;
}

.section-profession {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-profession h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 0.25em;
  color: #a7aaad;
  margin-bottom: 81px;
}
.section-profession .profesion-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.section-profession .profesion-info div {
  width: 100%;
  max-width: 350px;
}
.section-profession .profesion-info div img {
  margin-bottom: 58px;
}
.section-profession .profesion-info div p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #5b636d;
  margin-bottom: 69px;
}
.section-profession .profesion-info div h3 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #24303e;
  margin-bottom: 9px;
}
.section-profession .profesion-info div .profesion {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 14px;
  line-height: 179%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #a7aaad;
}

.slide-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
.slide-product img {
  width: 100%;
}

footer {
  width: 100%;
  background: #90d4c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
footer .logo {
  width: 170px;
}
footer .footer-nav {
  margin-top: 40px;
  margin-bottom: 88px;
}
footer .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
}
footer .footer-nav ul li {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.13px;
  color: #458d7e;
  text-transform: uppercase;
  cursor: pointer;
}
footer .footer-nav ul li:hover {
  color: #ffffff;
}
footer div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
footer div svg:hover path {
  fill: #fff;
}

@media (max-width: 790px) {
  .container {
    width: 100%;
  }
  header {
    width: 100%;
    max-width: 375px;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    min-height: 538px;
    position: relative;
  }
  header h1 {
    font-size: 40px;
    letter-spacing: 0.16em;
    text-align: center;
  }
  header label {
    display: block;
  }
  header input:checked + ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
    padding: 60px 0px 32px;
  }
  header input:checked + ul button {
    background: #fbd600;
  }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    width: 327px;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .nav .logo {
    width: 123px;
  }
  header .nav ul {
    top: 82px;
    width: 329px;
    height: 329px;
    background: #fff;
    display: none;
    text-align: center;
  }
  header .nav ul li {
    font-size: 20px;
    color: #808397;
  }
  .wrapper {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
  }
  .wrapper .products {
    display: grid;
    grid-template-columns: repeat(1, 375px);
    grid-template-rows: 312px 417px 312px 417px 600px 600px;
  }
  .wrapper .products .product-info {
    text-align: center;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .products .product-info h2 {
    font-size: 32px;
    letter-spacing: -0.23px;
    width: 327px;
  }
  .wrapper .products .product-info p {
    font-size: 18px;
    letter-spacing: -0.13px;
    width: 327px;
  }
  .wrapper .products .img-page-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapper .products .pr-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapper .products .img-page-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .wrapper .products .pr-2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .wrapper .products .cherry {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    background-position: center;
  }
  .wrapper .products .mandarin {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    background-position: center;
  }
  .wrapper .products img {
    width: 375px;
    height: 312px;
  }
  .slide-product {
    display: grid;
    grid-template-columns: repeat(2, 187px);
  }
  .section-profession {
    padding: 64px 24px 86px;
    text-align: center;
  }
  footer {
    width: 100%;
  }
  footer .logo {
    width: 170px;
  }
}