$font-w-1: 400;
$font-w-2: 600;
$font-w-3: 900;
$text-color-whaite: #ffffff;
$text-color-light-grey: #808397;
$text-color-dark-grey: #24303e;
$text-color-white-grey: #5b636d;
$text-color-grey-grey: #458d7e;
